#quotetitle {
  font-family: 'Cinzel', serif;
}

.list-group-item {

    font-family: 'Courgette', cursive;
}

.list-group img {
   height: 3%;
   width: 3%;

}
/* #animename{
font-family: 'Noticia Text', serif;
} */
