{% extends "quoteApp/base.html"%}
{% block body_block %}
<div class="container" >
  <div class="row">
  <div class="col-xs-6 col-md-2" >
    <div class="navy">
      <div class="content" background-color= "lightblue">

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-10" background-color="#FFFFFF;">
    <div class="light">
      <div class="content">
        <p></p>
        <h1 id="quotetitle" align="center">Anime Quotes</h1>
        <p></p>
        <p></p>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <h3 align="center">"Fools make mistakes, Wise learn from history"</h3>
              <div style=" font-size: 20px; ">
                <img src="/home/local/ANT/kendavar/projects/animeproject/static/Images/Nobuchika_Ginoza.jpg" class="img-thumbnail" alt="Cinque Terre">
                Nobuchika Ginoza
                <span id="animename"style="float: right; font-size: 24px; ">
                  Anime: Psycho Pass
                </span>
              </div>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <h3 align="center">"Fools make mistakes, Wise learn from history"</h3>
              <div style=" font-size: 20px; ">
                <img src="/home/local/ANT/kendavar/projects/animeproject/static/Images/Nobuchika_Ginoza.jpg" class="img-thumbnail" alt="Cinque Terre">
                Nobuchika Ginoza
                <span id="animename"style="float: right; font-size: 24px; ">
                  Anime: Psycho Pass
                </span>
              </div>
            </a>
        </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
